.footer {
    background: #353535;
    color: #fff;
    padding: 0;
}

.footer .main-footer {
    padding: 20px 30px 35px 30px;
}

.descripFooter img {
    margin-bottom: 25px;
}

.descripFooter div {
    font-family: light !important;
    font-size: 12px;
}

.acercaDe-footer div {
    margin-bottom: 15px;
    font-family: 'light';
}

.acercaDe-footer div a {
    color: #fff !important;
    text-decoration: none !important;
    font-family: light !important;
    font-size: 11px;
}

.paRi25 {
    padding-right: 25px;
}

.refer {
    text-align: center;
    background: #1d1d1d;
    font-family: 'light';
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 11px;
}
